body {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 5px solid yellow;
}
.main {
    display: block;
    width: 1200px;
    height: 600px;
    border: 5px solid green;
    margin: 40px auto auto auto;
}
.input {
    display: block;
    margin: 10px auto auto 148.5px;
    height: fit-content;
    width: fit-content;

}
.filters{
    display: block;
    margin: 20px auto auto 145px;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
}
.top {
    width: 800px;
    height: 90px;
    border: 2px solid blue;
    margin: 30px auto auto auto;
}
.priority {
    margin: -62px auto auto 580px;
}
.image {
    position: absolute;
    margin: -20px auto auto 690px;
}
.task {
    width: 870px;
    height: 90px;
    border: 2px solid purple;
    margin: 30px 73px auto auto;
    position: relative;
}
.text {
    display: inline-block;
    font-size: 25px;
}
.prior {
    display: inline-block;
    color: red;
    font-size: 20px;
    padding: 10px;
}
.trashbin {
    display: block;
    width: 25px;
    height: 25px;
    position:absolute;
    right: 0;
    top: 9.5px;
}
.tasktext{
    border: 2px solid orange;
    width: 678px;
    height: 30px;
    margin : -40px auto auto auto;
}